<uh-sidebar>
  <li class="m-t-30 " *ngFor="let view of views">
    <a [routerLink]="view.path" class="detailed">
      <span class="title">{{view.title}}</span>
      <span class="details" *ngIf="view.desc">{{view.desc}}</span>
    </a>
    <span class="icon-thumbnail"><i class="{{view.icon}}"></i></span>
  </li>
</uh-sidebar>
<!-- START PAGE-CONTAINER -->
<div class="page-container">
  <!-- START PAGE HEADER WRAPPER -->
  <uh-header></uh-header>
  <!-- END PAGE HEADER WRAPPER -->
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper">
    <!-- START PAGE CONTENT -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- END PAGE CONTENT -->
    <uh-footer></uh-footer>
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->
<!--START QUICKVIEW -->
<uh-quickview></uh-quickview>
<!-- END QUICKVIEW-->
<!-- START OVERLAY -->
<uh-quicksearch></uh-quicksearch>